{{#partial "content" }}<div class="container">
    <h1>회원정보 수정</h1>
    {{#user}}
    <form action="/users/{{id}}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="id" value="{{id}}">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{email}}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="이름을 입력하세요" value="{{name}}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password를 넣어 주세요" value="{{password}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{/user}}
</div>
{{/partial}}
{{>include/base}}