{{>include/header}}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Honux QnA 2020</h1>
        <p class="lead text-muted">
            {{#session-user}}
            안녕하세요? {{name}} 님. 오늘도 적당히 살아요. <br>
            {{/session-user}}
            {{^session-user}}
            주짓수, 코딩, 게임, 독서, 영화에 관한 질문을 받아요.
            {{/session-user}}

        </p>

        <p>
            {{^session-user}}
            <a href="/users/new" class="btn btn-primary">회원가입</a>
            {{/session-user}}
            <a href="#" class="btn btn-secondary">둘러보기</a>
        </p>
    </div>
</section>

{{>include/footer}}
