{{#partial "content" }}
<main role="main" class="container">
    <section class="jumbotron text-center" style="margin-top:10px;">
        <div class="container">
            <h1>Honux QnA 2020 v0.6.5</h1>
            {{#session-user}}
            <p>안녕하세요? {{name}} 님. 오늘도 적당히 살아요.</p>
            <p><a href="/questions/form" class="btn btn-primary">질문하기</a></p>
            {{/session-user}}
            {{^session-user}}
            <p>주짓수, 코딩, 게임, 독서, 영화에 관한 질문을 받아요.</p>
            <p><a href="/users/form" class="btn btn-primary">회원가입</a></p>
            {{/session-user}}
        </div>
    </section>

    <div class="my-3 p-3 rounded shadow-sm">
        <p> 현재 {{num_users}} 명의 사용자와 {{num_questions}}개의 질문이 있습니다.</p>
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>답변수</th><th>작성자</th> <th>제목</th> <th>작성일자</th>
                </tr>
                </thead>
                <tbody>
                {{#each questions}}
                <tr>
                    <th scope="row">{{answerCount}}</th><td>{{author.name}}</td>
                    <td><a href="/questions/{{id}}">{{title}}</a></td><td>{{formattedCreatedDate}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
{{/partial}}
{{>include/base}}